.salaryFilterContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 15px;
  background-color: #FDFDFF;

  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #202020;
  }

  .line {
    width: 323px;
    border: 0.5px solid #EAEAEA;
    margin: 12px 0;
  }

  .rangeBox {
    padding: 19px 0;
  }

  .displayAge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #202020;

    .display {
      display: inline-block;
      height: 40px;
      width: 100px;
      padding: 10px 0;
      border: 1px solid #EAEAEA;
      margin: 0 10px;
    }
  }

  .switchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0;
    background-color: #FDFDFF;
  
    .text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #202020;
      margin-left: 12px;
    }
  
    .switch {
      label {
        .lever {
          width: 28px;
          height: 16px;
          border-radius: 12px;
          margin: 0;
        }
  
        input[type=checkbox]:checked+.lever:before,
        input[type=checkbox]:checked+.lever:after {
          left: 14px;
        }
  
        .lever:before,
        .lever:after {
          content: "";
          width: 14px;
          height: 14px;
          top: 0.5px;
        }
  
        input[type=checkbox]:checked+.lever:after {
          background-color: #000046;
        }
      
        input[type=checkbox]:checked+.lever {
          background-color: #E6E6FF;
        }
      }
    }
  }
}
