.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #797979;

  .container {
    width: 100%;
    max-width: 1440px;
    background-color: #FFFFFF;
  }
}
